<div class="row valign">
    <div class="col s12 m4 offset-m4">
        <a routerLink="/"><img class="logo" src="resources/logo.png" width="300px"></a>
        <div id="entry-card" class="card">
            <div class="card-content">
                <ul class="tabs">
                    <li class="tab"><a routerLink="/login" routerLinkActive="active">Login</a></li>
                    <li class="tab"><a routerLink="/register" routerLinkActive="active">Register</a></li>
                </ul>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
