<div class="valign-wrapper">
  <div class="valign">
    <h5>This should be vertically aligned</h5>
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="row valign"> -->
<!--   <div class="col s12 m4 offset-m4"> -->
<!--     <div class="z-depth-1"> -->
<!--       <ul class="tabs"> -->
<!--         <li class="tab"><a routerLink="/login" routerLinkActive="active">Login</a></li> -->
<!--         <li class="tab"><a routerLink="/register" routerLinkActive="active">Register</a></li> -->
<!--       </ul> -->
<!--       <router-outlet></router-outlet> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
