<form (ngSubmit)="register()">
    <div class="input-field col s12">
        <input type="text" id="username" class="validate" [(ngModel)]="username" name="username">
        <label for="username">Username</label>
    </div>
    <div class="input-field col s12">
        <input type="email" id="email" class="validate" [(ngModel)]="email" name="email">
        <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
        <input type="password" id="password" class="validate" [(ngModel)]="password" name="password">
        <label for="password">Password</label>
    </div>
    <div class="input-field col s12">
        <input type="password" id="password-again" class="validate" [(ngModel)]="password_again" name="password_again">
        <label for="password-again">Password Again</label>
    </div>
    <input type="submit" class="btn col s12 waves-effect waves-light" value="Register">
</form>
