.center {
	text-align: center;
	margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
	padding-top: 5%;
}

/*.header-box {
	background: linear-gradient(-90deg,#808080,#D3D3F3);
	padding: 2%;
}*/

.spacer {
	margin: 25px;
	margin-bottom: 0;
}

.text {
	margin-left: 10%;
	margin-right: 10%;
}

.parallax-container {
	height: 550px;
}

#bg {
	margin-left: 10%;
	margin-right: 10%;
	padding: 30px 90px 0px 90px;
}

#search {
	padding: 20px;
	background: rgb(34,34,34); /* for IE */
	background: rgba(34,34,34,0.75);
}

#search h3, #search h5, #search h5 a { text-align: center; color: #fefefe; font-weight: normal; }
#search h3 { margin-bottom: 20px }
#search h5 { margin-top: 30px }