<div class="parallax-container">
    <div class="parallax"><img src="/resources/castle_flags.png"></div>

    <div class="header-box center">
        <IMG class="logo" src="/resources/logo.svg" width="450px"/>

        <div id="bg">
            <div id="search">
                <h3>CTFort</h3>
                <h5>Simplify your CTF hacking experience by conveniently tracking your team's progress with ease in a centralized location</h5>
            </div>
        </div>

        <a class="btn waves-effect waves-light spacer" routerLink="/entry/login" routerLinkActive="active">Login<i class="material-icons right">vpn_key</i></a>

        <a class="btn waves-effect waves-light spacer" routerLink="/entry/register" routerLinkActive="active">Create an Account<i class="material-icons right">send</i></a>
    </div>
</div>
<div class="spacer">
    <h3>Why Make CTFort?</h3>
    <p>
        Recently I had the chance participated in the <a href="https://shorten.ninja/bsides">BSides Ottawa CTF</a> and while I had a great time I noticed a few issues, mainly the fact that the facebook CTF platform doesn't offer the ability to keep track of which flags have already been found. While the system does show the compromised countries it doesn't show which flag was actually captured. This lead to a few issues where people ended wasting time because there were both finding the same flag not knowing each other's progress.
    </p>
    <h3>How does it Work?</h3>
    <p>
        CTFort aims to act as a centralized progress tracker towards flag captures. All you need to do to get started is log in/register and then created a team. Once a team has been created, you can invite your friends using the provided indentation code. They just need to enter this code when joining the team and they will be in. Once a part of the team each of the members will have access to the various modules to enhance their CTF experience.
    </p>
</div>
